@font-face {
    font-family: californian ;
    src: url(../assets/fonts/californian-fb.ttf);
}

:root {
    --background: rgb(43, 43, 43);
    --background-transparent: rgba(43, 43, 43, .5);
    --white: rgb(251,247,245);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:californian;
}

body{
    background-color:rgb(251,247,245);
}

.bg{
    min-width: 100%;
    background-size: cover;
    background-position:center;
    position: fixed;
    z-index: -1;
    padding: 0;
}

.navbar{
    max-width: 100%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 100;
    background-color: var(--white);
}

.logo{
    width: clamp(1rem, 80px, 20rem);
    cursor: pointer;
    filter: invert(75%);
    padding: 2px;
}

h1{
    color:rgb(43, 43, 43);
    font-size: clamp(2rem, 10vw, 8rem);
}

.heading h1{
    border-bottom: 3px solid rgb(251,247,245);
    margin-bottom: 1em;
}

.heading{
    text-align: center;
    background-color: rgb(251,247,245);
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: clamp(.5rem, 4vw, 1.5rem);
 }


.navbar ul li a{
    text-decoration: none;
    color:rgb(43, 43, 43);
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar ul li::after{
    content:"";
    height: 2px;
    width: 0%;
    background: rgb(43, 43, 43);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s
}

.container{
    display: flex;
    justify-content: center;
    align-self: center;
}

.navbar ul li:hover::after{
    width: 100%;
}

.photos {
    columns: 500px;
}

.photos img {
    width: 100%;
    padding: 5px;
}

footer{
    font-size: 1em;
    font-style: italic;
    text-align:center;
    padding: 5em;
    background-color:transparent;
    color: rgb(43, 43, 43);
}

footer a{
    color:rgb(43, 43, 43);
}

#myBtn{
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid rgb(43, 43, 43);
    background: transparent;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(43, 43, 43);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#myBtn:hover{
    border: 2px solid rgb(43, 43, 43);
    background-color: rgb(43, 43, 43);
    transition: 0.5s;
    color:rgb(251,247,245);
}

@media screen and (max-width: 678px) {
 .navbar ul li{
    font-size: clamp(.5rem, 2.5vw, 1.5rem);
 }
}

