*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color:rgb(43, 43, 43);
}

.bg{
    min-width: 100%;
    min-height: 100%;
    background-size:cover;
    position: relative;
    position: fixed;
    z-index: -1;
    padding: 0;
    overflow:hidden;
    filter: opacity(50%);
}

.banner img {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
  }

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: clamp(1rem, 60vw, 20rem);
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: clamp(.5rem, 4vw, 1.5rem);
 }


.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after{
    content:"";
    height: 2px;
    width: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s
}

.navbar ul li:hover::after{
    width: 100%;
}

h2{
    margin-top: 5px;
    color:white;
    font-size: clamp(3rem, 10vw, 8rem);
    white-space: nowrap;
}

p{
    color:rgb(255, 255, 255);
    font-size: clamp(2rem, 1vw, 8rem);
    display:contents;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .heading{
    width: 80%;
    padding-bottom: 10px;
}


form{
    display: flex;
    flex-direction: column;
    background-color: rgba(105, 105, 105, 0.281);
    width: 80%;
    margin:auto;
    border: 2px white solid;
    padding-left: 50px;
    padding-right: 50px;


}
textarea,
input{
    margin-bottom: 1em;
    font-size: 30px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    margin-top: 10px;
    background-color: rgba(105, 105, 105, 0.493);
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#mysubmit{
    width:130px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    
}

label{
    display: block;
    width: auto;
    background-color: transparent;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    color:rgba(74, 74, 74, 0.663);
    font-size: clamp(1px, 5vw, 3rem);
    white-space: nowrap;
    color: white;
}

#mysubmit:hover{
    border: 2px solid rgba(74, 74, 74, 0.663);
    background-color:gold;
    transition: 0.5s;
    color:rgba(255, 255, 255, 0.986);
}

footer{
    font-size: 1em;
    font-style: italic;
    text-align:center;
    padding: 5em;
    background-color:transparent;
    color: white;
}

footer a{
    color:white;
}

