*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg {
    background-image: linear-gradient(rgba(110, 96, 110, 0.685),rgba(110, 96, 110, 0.685));
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position:center;
    position: fixed;
    z-index: -1;
    padding: 0;
}

.banner img {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
  }

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: clamp(1rem, 60vw, 20rem);
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: clamp(.5rem, 4vw, 1.5rem);
 }


.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after{
    content:"";
    height: 2px;
    width: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s
}

.navbar ul li:hover::after{
    width: 100%;
}

h2{
    font-size: 100px;
    margin-top: 5px;
    color:white;
}

p{
    color:rgb(255, 255, 255);
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 20px;
}

.container .heading h2{
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

