*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color:rgb(43, 43, 43);
}

.bg{
    min-width: 100%;
    min-height: 100%;
    background-size:cover;
    position: relative;
    position: fixed;
    z-index: -1;
    padding: 0;
    overflow:hidden;
}

.banner img {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
  }

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: clamp(1rem, 60dvh, 20rem);
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: clamp(.5rem, 4vw, 1.5rem);
 }


.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after{
    content:"";
    height: 2px;
    width: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s
}

.navbar ul li:hover::after{
    width: 100%;
}

h2{
    font-size: 100px;
    margin-top: 5px;
    color:white;
}

p{
    color:rgb(255, 255, 255);
    font-size: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 20px;
}

.container .contact h2,
.container .heading h2{
    border-bottom: 3px solid rgb(255, 255, 255);
    padding-bottom: 3px;
}

form {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 5em 1fr; 
    gap: 1em 150px;
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


textarea,
input{
    margin-bottom: 1em;
    width: 20em;
    font-size: 30px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    padding-left: 1px;
}

label{
    font-size:25px;
    background-color: transparent;
    width: 250%;
    border-color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 22%;
    white-space: nowrap;
}

#comment {
    height: 40%;/* Adjust the padding-bottom to add space between comment box and submit button */
}

#mysubmit{
    width: 600px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(74, 74, 74, 0.663);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    grid-column: 2;
    margin-bottom: 30px;
}

label:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color:rgba(74, 74, 74, 0.663);
}

#mysubmit:hover{
    border: 2px solid rgba(74, 74, 74, 0.663);
    background-color:gold;
    transition: 0.5s;
    color:rgba(255, 255, 255, 0.986);
}




