*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position:center;
    position: fixed;
    z-index: -1;
    padding: 0;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: clamp(1rem, 60vw, 20rem);
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    font-size: clamp(.5rem, 4vw, 1.5rem);
 }


.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after{
    content:"";
    height: 2px;
    width: 0%;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    bottom: -2px;
    transition: 0.5s
}

.navbar ul li:hover::after{
    width: 100%;
}

h1{
    margin-top: 50px;
    color:white;
    font-size: clamp(2rem, 10vw, 8rem);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    width: clamp(250px, 100%, 600px);   
    padding: 3px 0;
    text-align: center;
    margin: 20px 2px;
    background: transparent;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-color: transparent;
    overflow: hidden;
    color:transparent;
}

.photo img {
    width: clamp(250px, 100%, 600px);
    padding: 4px;
}

.button1:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color:rgba(255, 255, 255);
    padding: 5px;
    filter: grayscale(100%);
}

.button1:hover::before{
    content: "Gabriel and Laurie";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: rgba(54, 54, 54, 0.479);
    padding: 2px 20px;
}

.button2:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color:rgba(255, 255, 255);
    padding: 5px;
    filter: grayscale(100%);
}

.button2:hover::before{
    content: "Darius and Jaclyn";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: rgba(54, 54, 54, 0.479);
    padding: 2px 20px;
}

.button3:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color:rgba(255, 255, 255);
    padding: 5px;
    filter: grayscale(100%);
}

.button3:hover::before{
    content: "Jon and Hope";
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background-color: rgba(54, 54, 54, 0.479);
    padding: 2px 20px;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-color:rgb(43, 43, 43);
}