.heading form {
    padding-top: 12px;
    display:flex;
    grid-template-columns: 5em;
    gap: 1em 130px;
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    justify-content:center;
}


textarea,
input{
    margin-bottom: 1em;
    width: 20em;
    font-size: 30px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    padding-left: 1px;
}

label{
    font-size:25px;
    background-color: transparent;
    width: 250%;
    border-color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 22%;
    white-space: nowrap;
}

#comment {
    height: 40%;
}

#mysubmit{
    width: 200px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    background: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgba(74, 74, 74, 0.663);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    grid-column: 2;
    margin-bottom: 30px;
}

label:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color:rgba(74, 74, 74, 0.663);
}

#mysubmit:hover{
    border: 2px solid rgba(74, 74, 74, 0.663);
    background-color:gold;
    transition: 0.5s;
    color:rgba(255, 255, 255, 0.986);
}