<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About Me - Cody the Photographer</title>
    <link rel="stylesheet" href="../css/aboutme.css" />
    <link rel="icon" type="image/x-icon" href="../../images/favgray.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="banner">
        <img src="../images/github.jpg" alt="my face" class="bg"/>
    </div>
    <div class="navbar">
      <img src="../images/logo.png" alt="logo" class="logo" />
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="gallerymenu.html">Galleries</a></li>
        <li><a href="packages.html">Packages</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="aboutme.html">About Me</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="heading">
        <h2 id="intro">Hi, I'm Cody!</h2>
      </div>
      <div>
        <p>
            As your photographer, my goal is to capture the genuine connection and unique moments that define your relationship, creating images that truly reflect who you are.<br>
            <br>
            I combine spontaneity, real emotions, and storytelling, all while working in a relaxed and unobtrusive way.<br>
            <br>
            You’re not just getting photos—you’re getting a visual story of your journey together.<br>
        </p>
      </div>
    </div>
    <footer>
      Copyright &copy; 2024 Cody the Photographer
      <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
    </footer>
  </body>
</html>
