<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me - Cody the Photographer</title>
    <link rel="stylesheet" href="../css/aboutme.css" />
    <link rel="icon" type="image/x-icon" href="../images/favgray.png" />
  </head>
  <body>
    <div class="banner">
    </div>
    <div class="navbar">
        <img src="../images/logo.png" alt="logo" class="logo" />
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="gallerymenu.html">Galleries</a></li>
        <li><a href="packages.html">Packages</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="aboutme.html">About Me</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="heading">
        <h2>Contact Me</h2>
        <form
          name="contactMe"
          method="post"
          autocomplete="on"
          action="https://formspree.io/f/mbjvewbq"
        >
          <label id="fName" for="myFName">Name*</label>
          <input
            type="text"
            placeholder="Dancing Mcgee"
            id="myFName"
            name="First Name*"
            required
          />

          <label id="email" for="myEmail">Email*</label>
          <input
            type="email"
            placeholder="BeadryFace@email.com"
            id="myEmail"
            name="Email*"
            required
          />

          <label id="phone" for="myPhone">Phone Number*</label>
          <input
            type="text"
            placeholder="555-555-1234"
            id="myPhone"
            name="Phone*"
            required
          />

          <label for="myComment" id="comment">Comments</label>
          <textarea
            name="Comments"
            placeholder="Twizzlers are better than Redvines"
            id="myComment"
            rows="4"
            cols="20"
          ></textarea>
          <button type="submit" value="Submit" id="mysubmit">Submit</button>
        </form>
      </div>
    </div>
    <footer>
      Copyright &copy; 2024 Cody the Photographer
      <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
    </footer>
  </body>
</html>
