<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Galleries - Cody the Photographer</title>
    <link rel="stylesheet" href="../css/gallerymenu.css" />
    <link rel="icon" type="image/x-icon" href="../images/favgray.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar">
      <img src="../images/logo.png" alt="logo" class="logo" />
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="gallerymenu.html">Galleries</a></li>
        <li><a href="packages.html">Packages</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="aboutme.html">About Me</a></li>
      </ul>
    </div>
      <div class="heading">
        <h1>Galleries</h1>
      </div>
      <div class="photo">
        <a href="./galleries/engagement/jonhope.html">
          <button type="button" id="button1">
            <img src="../images/template.jpg" alt="jon and hope engagement"/>
          </button>
          </a>
        <a href="./galleries/engagement/deepenny.html">
          <button type="button" id="button2">
            <img src="../images/deepenny/deepenny(5).jpg" alt="penny and dee engagement"/>
          </button>
        </a>
        <a href="./galleries/engagement/chrislaura.html">
          <button type="button" id="button3">
            <img src="../images/chrislaura/A13P8776.jpg" alt="chris and laura engagement"/>
          </button>
        </a>
        <a href="./galleries/engagement/dylanshelby.html">
          <button type="button" id="button4">
            <img src="../images/dylanshelby/IMG_2653.jpg" alt="dylan and shelby engagement"/>
          </button>
        </a>
        <a href="./galleries/engagement/joearielle.html">
          <button type="button" id="button5">
            <img src="../images/joearielle/JoeArielleEngagement (146 of 348).jpg" alt="joe and arielle engagement"/>
          </button>
        </a>
        <a href="./galleries/engagement/ryankai.html">
          <button type="button" id="button6">
            <img src="../images/ryankai/IMG_4290 (2).jpg" alt="ryan and kai engagement"/>
          </button>
        </a>
      </div>
    <footer>
      Copyright &copy; 2024 Cody the Photographer
      <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
    </footer>
  </body>
</html>
