<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Packages - Cody the Photographer</title>
    <link rel="stylesheet" href="../css/gallerymenu.css" />
    <link rel="icon" type="image/x-icon" href="../images/favgray.png" />
  </head>
  <body>
    <div class="banner">
        <img src="../images/A13P1781.jpg" alt="my face" class="bg"/>
    </div>
    <div class="navbar">
      <img src="../images/logo.png" class="logo" alt="Logo" />
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="gallerymenu.html">Galleries</a></li>
        <li><a href="packages.html">Packages</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="aboutme.html">About Me</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="heading">
        <h1>Couples Sessions</h1>
        <h2>What's Included:</h2>
        <ul class="wedding">
          <li class="one">$350</li>
          <li>1-2 hour sessions</li>
          <li>25+ High-Res photos delivered online within 1-2 weeks</li>
          <li>Print release form</li>
        </ul>
      </div>
    </div>
    <footer>
      Copyright &copy; 2024 Cody the Photographer
      <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
    </footer>
  </body>
</html>
