<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chris and Laura - Engagement - Cody the Photographer</title>
        <link rel="stylesheet" href="../../../css/galleryphoto.css">
        <link rel="icon" type="image/x-icon" href="../../../images/favgray.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <img src="../../../images/logo.png" alt="logo" class="logo">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../../gallerymenu.html">Galleries</a></li>
                <li><a href="../../packages.html">Packages</a></li>
                <li><a href="../../contact.html">Contact</a></li>
                <li><a href="../../aboutme.html">About Me</a></li>
            </ul>
        </div>
        <div class="heading">
            <h1>Chris and Laura</h1>
            <h2><i>Prophets Town State Park</i></h2>
        </div>
        <div class="photos">
            <img src="../../../images/chrislaura/A13P8418.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8419.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8458.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8459.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9741.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8516.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8525.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8534.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8550.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8604.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8695.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8712.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8776.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8797.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8805.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P8922.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9045.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9142.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9144.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9148.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9149.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9285.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9460.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9703.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9533.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9663.jpg" alt="Chris and Laura Engagement">
            <img src="../../../images/chrislaura/A13P9723.jpg" alt="Chris and Laura Engagement">
        </div>
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to Top">
              Back to Top
            </button>
          </div>
        <footer>
            Copyright &copy; 2024 Cody the Photographer
            <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
        </footer>
        <script>
            document.getElementById("myBtn");
            
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>