<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cody and Alexis - Engagement - Cody the Photographer</title>
        <link rel="stylesheet" href="../../../css/galleryphoto.css">
        <link rel="icon" type="image/x-icon" href="../../../images/favgray.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <img src="../../../images/logo.png" alt="logo" class="logo">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../../gallerymenu.html">Galleries</a></li>
                <li><a href="../../packages.html">Packages</a></li>
                <li><a href="../../contact.html">Contact</a></li>
                <li><a href="../../aboutme.html">About Me</a></li>
            </ul>
        </div>
        <div class="heading">
            <h1><a href="joearielle.html"><</a> Cody and Alexis <a href="deepenny.html">></a></h1>
            <h2><a href="https://bennettsgreenhouse.com/"><i>Bennett's Greenhouse</i></a></h2>
            <h2><a href="https://www.in.gov/dnr/state-parks/parks-lakes/prophetstown-state-park/"><i>Prophets Town State Park</i></a></h2>
        </div>
        <div class="photos">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (9 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (22 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (34 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (46 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (64 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (67 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (82 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (166 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (184 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (2 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (202 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (281 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (300 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images/codyalexis/CodyAlexisEngagement (317 of 371).jpg" alt="Cody and Alexis Engagement">
            <img src="../../../images\codyalexis\CodyAlexisEngagement (348 of 371).jpg" alt="Cody and Alexis Engagement">
        </div>
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to Top">
              Back to Top
            </button>
          </div>
        <footer>
            Copyright &copy; 2024 Cody the Photographer
            <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
        </footer>
        <script>
            document.getElementById("myBtn");
            
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>