<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Jesse and Sam - Engagement - Cody the Photographer</title>
        <link rel="stylesheet" href="../../../css/galleryphoto.css">
        <link rel="icon" type="image/x-icon" href="../../../images/favgray.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <img src="../../../images/logo.png" alt="logo" class="logo">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../../gallerymenu.html">Galleries</a></li>
                <li><a href="../../packages.html">Packages</a></li>
                <li><a href="../../contact.html">Contact</a></li>
                <li><a href="../../aboutme.html">About Me</a></li>
            </ul>
        </div>
        <div class="heading">
            <h1><a href="ryankai.html"><</a> Jesse and Sam <a href="jonhope.html">></a></h1>
            <h2><a href="https://www.tippecanoe.in.gov/facilities/facility/details/Fairfield-Lakes-2"><i>Fairfield Lakes</i></a></h2>
        </div>
        <div class="photos">
            <img src="../../../images\jessesam\SamAndJesseEngagement-3.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images/jessesam\SamAndJesseEngagement-9.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-30.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-55.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-77.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-81.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-149.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-165.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-173.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-205.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-281.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-296.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-300.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-308.jpg" alt="Jesse and Sam Engagement">
            <img src="../../../images\jessesam\SamAndJesseEngagement-313.jpg" alt="Jesse and Sam Engagement">
        </div>
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to Top">
              Back to Top
            </button>
          </div>
        <footer>
            Copyright &copy; 2024 Cody the Photographer
            <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
        </footer>
        <script>
            document.getElementById("myBtn");
            
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>