<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ryan and Jenni - Engagement - Cody the Photographer</title>
        <link rel="stylesheet" href="../../../css/galleryphoto.css">
        <link rel="icon" type="image/x-icon" href="../../../images/favgray.png">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="navbar">
            <img src="../../../images/logo.png" alt="logo" class="logo">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="../../gallerymenu.html">Galleries</a></li>
                <li><a href="../../packages.html">Packages</a></li>
                <li><a href="../../contact.html">Contact Me</a></li>
                <li><a href="../../aboutme.html">About Me</a></li>
            </ul>
        </div>
        <div class="heading">
            <h1><a href="gabelauri.html"><</a> Ryan and Jenni <a href="jonhope.html">></a></h1>
            <h2><a href="https://www.indy.gov/activity/about-eagle-creek-park"><i>Eagle Creek Park</i></a></h2>        </div>
        <div class="photos">
            <img src="../../../images/ryanjenni/A13P4000.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4050.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4086.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4107.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4123.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4166.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4213.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/A13P4262.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/AA8Y3951.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/AA8Y3984.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/AA8Y4018.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/AA8Y4102.jpg" alt="Ryan and Jenni Engagement">
            <img src="../../../images/ryanjenni/AA8Y3934.jpg" alt="Ryan and Jenni Engagement">
        </div>
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to Top">
              Back to Top
            </button>
          </div>
        <footer>
            Copyright &copy; 2024 Cody the Photographer
            <a href="mailto:ccjdalton15@gmail.com">cjdalton15@gmail.com</a>
        </footer>
        <script>
            document.getElementById("myBtn");
            
            function topFunction(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>